on init
    # HACK to disable forced encryption
    mount none /fstab.mt6797 /vendor/etc/fstab.mt6797 bind

    # create mount points
    mkdir /vendor/etc/protect_f 0771 system system
    mkdir /vendor/etc/protect_s 0771 system system
    mkdir /vendor/etc/nvdata 0771 system system
    mkdir /vendor/etc/nvcfg 0771 system system

on post-fs
    mount none /system/lib/mtk-ril.so /vendor/lib/mtk-ril.so bind
    mount none /system/lib64/mtk-ril.so /vendor/lib64/mtk-ril.so bind

    # force properties for mtkmal
    setprop persist.mtk_ims_support 0
    setprop persist.mtk_epdg_support 0

on property:vold.decrypt=trigger_restart_framework
    setprop persist.mtk_ims_support 0
    setprop persist.mtk_epdg_support 0

service mtk_hal_imsa /system/bin/true
    oneshot

# "sleep infinity" returns immediately..
service emdlogger1 /system/bin/sleep 2147483647
    class main
    user shell
    group system shell radio sdcard_rw inet sdcard_r media_rw
    writepid /dev/cpuset/system-background/tasks
    disabled
    oneshot

# "sleep infinity" returns immediately..
service emdlogger2 /system/bin/sleep 2147483647
    class main
    user shell
    group system shell radio sdcard_rw inet sdcard_r media_rw
    writepid /dev/cpuset/system-background/tasks
    disabled
    oneshot

# "sleep infinity" returns immediately..
service emdlogger3 /system/bin/sleep 2147483647
    class main
    user shell
    group system shell radio sdcard_rw inet sdcard_r media_rw
    writepid /dev/cpuset/system-background/tasks
    disabled
    oneshot

# "sleep infinity" returns immediately..
service emdlogger5 /system/bin/sleep 2147483647
    class main
    user shell
    group system shell radio sdcard_rw inet sdcard_r media_rw
    writepid /dev/cpuset/system-background/tasks
    disabled
    oneshot
